@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
main {
  width: 1320px;
  margin: auto;
}
header {
  margin: auto;
  margin-top: 50px;
  background-position: center;
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  color: #ffffff;
}
header .text {
  margin: auto;
  position: relative;
  width: 632px;
  height: 246px;
  z-index: 2;
  text-align: center;
  font-family: Merriweather;
}
header h4 {
  font-size: 32px;
  font-weight: 400;
}
header h2 {
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}
.background {
  border-radius: 16px;
  z-index: 1;
  height: 600px;
  margin: auto;
}

.discount {
  text-align: center;
  font-family: Inter;
  color: #f00;
  margin-top: 120px;
}
.discount h2 {
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 30px;
}
.discount h4 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 6px;
}
.discount h3 {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}
.discount img {
  margin: auto;
  display: flex;
  align-self: center;
}

.party {
  height: 600px;
  margin: auto;
  margin-top: 120px;
  color: #ffffff;
}
.background {
  display: flex;
  background-repeat: no-repeat;
  align-self: center;
}
.party h2 {
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  width: 642px;
  margin-left: 126px;
  margin-top: 126px;
}
.party p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 30px;
  margin-left: 126px;
  width: 697px;
  margin-top: 24px;
  margin-bottom: 48px;
}
.party a {
  margin-left: 158px;
  margin-bottom: 142px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  background-color: transparent;
  margin-top: 48px;
  text-decoration: none;
  font-family: Inter;
}
.background img {
  margin: 68px 0;
  margin-right: 138px;
}
.place {
  margin: auto;
  margin-top: 120px;
  height: 482px;
}
.place div {
  width: 549px;
  height: 272px;
  padding: 100px 385px;
  text-align: center;
}
.place p {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}
.place span {
  color: #f00;
}
.place button {
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  border-radius: 8px;
  background: #f00;
  color: #ffffff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  border: none;
}
.offer {
  height: 462px;
  margin: auto;
  margin-top: 120px;
  display: flex;
}
.offer h4 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.offer h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-top: 16px;
}
.offer p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 22px;
}
.offer #one {
  width: 393px;
  margin: 140px 0;
  margin-right: 70px;
}
#two {
  width: 462px;
  height: 462px;
  border: #f00 solid 10px;
  border-radius: 50%;
}
#two img {
  margin: 49.08px;
}
#three {
  margin-left: 118px;
  width: 276px;
}
#three h2 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
  margin-top: 112px;
}
#three img {
  width: 140px;
  height: 140px;
  margin-top: 43px;
}
.sale {
  margin: auto;
  margin-top: 120px;
}
.sale .upper {
  text-align: center;
  margin: 0 126px;
}
.upper p {
  width: 1036px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}
.upper h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 28px;
}
.upper span {
  color: #f00;
}
.upper h4 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.lower {
  width: 1320px;
  height: 662.07px;
  margin-top: 64px;
  position: absolute;
}
.lower .box {
  width: 796.463px;
  height: 662.07px;
  position: relative;
  top: 0px;
  left: 0px;
}
.lower .rightImg {
  width: 429px;
  height: 433px;
  position: relative;
  bottom: 229px;
  right: 0;
}
.lower .rectangle {
  width: 1320px;
  height: 229px;
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: -1;
}
.lower .circle {
  position: absolute;
  bottom: 0;
  right: 375px;
  top: 75px;
}
.portfolio {
  margin-top: 846px;
}
.portfolio .text h5 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.text h3 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-top: 16px;
}
.text p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  line-height: 32px; /* 160% */
  width: 890px;
  margin-top: 22px;
  margin-bottom: 48px;
}
.portfolio .images {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
}
.portfolio .images img {
  width: 424px;
  height: 450px;
}
.portfolio .images img:hover {
  transform: scale(1.1);
  filter: brightness(110%);
}

.newsletter {
  border-radius: 16px;
  background-color: rgba(255, 0, 0, 0.05);
  margin-top: 120px;
  text-align: center;
  padding: 80px 0;
}
.newsletter h3 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-top: 40px;
}
.newsletter p {
  margin-top: 22px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  line-height: 32px;
  padding: 0 212px;
}
form {
  margin-top: 48px;
}
.newsletter form input[type="button"] {
  border-radius: 0 50px 50px 0;
  border: none;
  width: 210px;
  height: 72px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  background-color: #f00;
}
form input[type="email"] {
  width: 648px;
  height: 72px;
  color: rgba(7, 2, 17, 0.3);
  text-align: left;
  padding-left: 30px;
  font-family: Inter;
  font-size: 18px;
  width: 438px;
  height: 72px;
  border-radius: 50px 0 0 50px;
  border: none;
}

footer {
  margin-top: 120px;
  width: 100svw;
}
