@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins&display=swap");

header {
  margin: auto;
  background-image: url("/resources/Banner Image.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  color: #ffffff;
}
header .text {
  margin: auto;
  position: relative;
  width: 632px;
  height: 246px;
  top: 177px;
  z-index: 2;
}
header h4 {
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header h2 {
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
}
.background {
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  z-index: 1;
  width: 1320px;
  height: 600px;
  margin: auto;
}
